<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<style>

body {
    background-image: url('static/image/wp2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}</style>

<body>
  {% include "polls/navbar.html" %}
<br><br><br>
  <center><h1>Certifications in Cyber Security</h1></center>
<div style="text-align-center">
<p>

    The professional certification are used to validate knowledge,There are hundreds of certifications available, from general to vendor-specific, entry-level to advanced.
     it’s important to find one that will give you a competitive advantage in your career. As a cybersecurity professional, your main goal is to protect data. Specific job duties might vary depending on the field you’re employed in – government, finance, technology, and healthcare organizations might have different nuances with how they approach cybersecurity, <br>
    <br>
    <b>Here are a few different career options you can choose from when seeking a career in cybersecurity:</b><br>
    1)Cybersecurity Specialist<br>
    2)Information Security or Vulnerability Analyst<br>
    3)Penetration Tester<br>
    4)Cybersecurity Architect<br>
    5)Security or Cybersecurity Engineer<br>
    6)Security or Cybersecurity Administrator<br>
    7)Security Administrator<br>
    8)Security Auditor<br>
    9)Security Director<br>
    10)Security Consultant<br>
    11)Cryptographer<br>
    12)Chief Information Security Officer<br>
    13)Vulnerability Assessor<br>
    14)Incident Responder<br>
    15)Forensic Expert<br>
    16)Source Code Auditor<br>
    17)Security Manager<br>
  </p>
<br>
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">cost(US)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Certified Information Systems Security Professional (CISSP)</td>
      <td>Avanced</td>
      <td>$749 </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Certified Information Systems Auditor (CISA)</td>
      <td>mid-level</td>
      <td>$575 for members, $760 for non-members</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Certified Information Security Manager (CISM)</td>
      <td>midlevel</td>
      <td> $575 for members, $760 for non-members</td>
    </tr>
   <tr>
      <th scope="row">4</th>
      <td> CompTIA Security+</td>
      <td>Entry-level</td>
      <td>$370</td>
    </tr>
   <tr>
      <th scope="row">5</th>
      <td>Certified Ethical Hacker (CEH)</td>
      <td>Entry-level</td>
      <td>$950 to $1,199, depending on testing location</td>
    </tr>
   <tr>
      <th scope="row">6</th>
      <td>GIAC Security Essentials Certification (GSEC)</td>
      <td>Mid-level</td>
      <td>$2,499 (includes two practice tests)</td>
    </tr>
   <tr>
      <th scope="row">7</th>
      <td>Systems Security Certified Practitioner (SSCP)</td>
      <td>Mid-level</td>
      <td>$249</td>
    </tr>
   <tr>
      <th scope="row">8</th>
      <td>CompTIA Advanced Security Practitioner (CASP+)</td>
      <td>Mid-level</td>
      <td>$466</td>
    </tr>
   <tr>
      <th scope="row">9</th>
      <td> GIAC Certified Incident Handler (GCIH)</td>
      <td>Entry-level</td>
      <td> $2,499 (includes two practice tests)</td>
    </tr>
   <tr>
      <th scope="row">10</th>
      <td> Offensive Security Certified Professional (OSCP)</td>
      <td>Mid-level</td>
      <td> $999</td>
    </tr>
   <tr>
      <th scope="row">11</th>
      <td>Certified Ethical Hacker MASTER (CEH-MASTER)</td>
      <td>Advaned</td>
      <td> 30,000 to 45,000 INR.</td>
    </tr>

  </tbody>
</table>



</div>






  {% include "polls/footer.html" %}

</body>

</html>