<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<style>

body {
    background-image: url('static/image/wp3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#top{
text-align:center;
}
#content{
text-align:center;
}
.p{
 font-family: Arial, sans-serif;

}

</style>

<body>
  {% include "polls/navbar.html" %}
<br><br>

<div id="top" class="alert alert-warning" role="alert">
  <h3>Terms and Conditions</h3>
</div>
<div id="content">
  <p style="font-size:20px;color:black;">Here are a few examples of how this agreement can help you:

If users abuse your website or mobile app in any way, you can terminate their account. Your "Termination" clause can inform users that their accounts would be terminated if they abuse your service.
If users can post content on your website or mobile app (create content and share it on your platform), you can remove any content they created if it infringes copyright. Your Terms and Conditions will inform users that they can only create and/or share content they own rights to. Similarly, if users can register for an account and choose a username, you can inform users that they are not allowed to choose usernames that may infringe trademarks, i.e. usernames like Google, Facebook, and so on.
If you sell products or services, you could cancel specific orders if a product price is incorrect. Your Terms and Conditions can include a clause to inform users that certain orders, at your sole discretion, can be canceled if the products ordered have incorrect prices due to various errors.
And many more examples.
In summary, while you do not legally need a Terms and Conditions agreement, there are many many reasons for you to have one. Not only will it make your business look more professional and trustworthy, but you'll also be maintaining more control over how your users are able to interact with your platforms and content.</p>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  {% include "polls/footer.html" %}

</body>

</html>