{% include "polls/navbar.html" %}
<br><br>
<br>
<br>
{% block head %}
<title>Recovery Email Sent</title>
{% endblock %}

{% block body %}
<div class="container text-center">
  <h3 class="mt-4">Recovery Email Sent</h3>
  <p>A Recovery Email has been sent to your Email ID, Check your inbox or spam folder.
    <br>if it exists In our database you will receive a mail shortly</p>
  <p>If you didn't receive email please ensure you have entered correct email id. </p>
<a class="btn btn-primary" href="{% url 'customerlogin' %}">Back</a>
</div>

{% endblock %}


<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>

<br>
  {% include "polls/footer.html" %}